body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F8FF;
}

h1 {
  color: deepskyblue;
  font-family: 'Chewy', cursive;
  font-size: 45px;
}

.info {
  display: flex;
  flex-direction: row;
}

.sound {
  width: 40px;
  height: auto;
}

.info-child2 {
  width: 75px;
  height: 75px;
  margin-left: 15px;
}

.info-child1 {
  width: 60px;
  height: 60px;
  margin-top: 5px;
}

.instruction {
  width: 500px;
  height: auto;
  margin-top: 30px;
  border-radius: 15px;
}

canvas {
  background-image: url("../images/background.png");
  background-size: 600px 340px;
}
